html{
	padding: 0px;
	margin:0px;
	width: 100%;
}

.wrapper{
	width:100%;
	height:auto;
	padding: 0;
	margin:0;
	overflow:hidden;
	min-height:2000px;

}
.container2{
	width: 100%;
	max-width: auto;
	margin: 0 auto;
  position:relative;
  top:auto;
}

#wrapper2{
	width:100%;
	height:auto;
	padding: 0;
	margin:0;
	overflow:hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

header{
	width:100%;
	height:80px;
	color: #fff;
	background:#1A237E;
	line-height:80px;
	top: 0;
	transition: all 0.5s ease;
	box-shadow: 0px 2px 10px #fff inset;

}
.container{
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}

.container2{
	width: 90%;
	max-width: auto;
	margin: 0 auto;
  position:relative;
  top:auto;
}

#logo{
	font-family: "Lato", sans-serif;
	font-size:40px;
	float: left;
}

#logo a{
  color: #fff;
  text-decoration: none;
}

nav{
	float: right;
	font-family: "Lato", sans-serif;
}
nav a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	margin: 0 15px;
}


body {
	margin: 0;
	padding: 0;
	background: url(tott3.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	font-family: sans-serif;

}
.loginbox{
	width: 320px;
	height: 420px;
	background: white;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
.avatar{
	width: 100px;
	height: 190px;
	border-right-style:  50%;
	position: absolute;
	top: -30%;
	left: calc(50% - 50px);

}
h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;


}
.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.loginbox input{
	width: 100%;
	margin-bottom: 20px;
}
.loginbox input[type="text"],  input[type="password"]
{
	border:	1px solid #D1CFCF ;
  border-radius:10px;
	background: transparent;
	outline: none;
	height: 40px;
	color: #000;
	font-size: 16px;

}
.loginbox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #5199e4;
	color: #fff	;
	font-size: 18px;
	border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
	cursor: pointer;
	background:  #ff4f6d;
	color: #1A237E;

}
.loginbox a{
	 text-decoration: none;
	 font-size: 12px;
	 line-height: 20px;
	 color: darkgrey;

}
.loginbox a:hover
{
	color: #ff4f6d;

}
